body {
	font-family: 'Montserrat', sans-serif !important;
	background-color: #CCDFCB !important;
}
p, h1, h2 {
	color: #CCDFCB !important;
}

.jumbotron {
	background-color: #414141 !important;
}
.header {
	color: #000;
	text-align: center;
}

.schedule-header {
	background-color: #056571 !important;
}

.form-header {
	background-color: #FF6A5C !important;
	color: #000;
}

.button-add {
	background-color: #FF6A5C;
}